.form-input-register {
    display: grid;
    width: fit-content;
    width: 35vw;
    margin: 1vw 4vw;
    /* border-radius: 0.7rem;
      border-style: solid;
      padding: 1rem;
      border-width: 0.12rem; */
  }
  
  @media (max-width: 576px) {
    .form-input-register {
      display: grid;
      /* width: fit-content; */
      width: 100%;
      margin: 1vw 4vw;
      border-radius: 0.7rem;
      border-style: solid;
      padding: 1rem;
      border-width: 0.02rem;
    }
  }